---
import Layout from '../layouts/Layout.astro';
import {TypedText} from '../components/TypedText.jsx';
import profilePic from '../assets/profile-pic.jpg';
---

<Layout title="Mack Talcott">
	<main class="flex-auto w-full container max-w-3xl mx-auto px-6 pt-10">
		<img class="flex rounded-full h-36 w-36 bg-contain mx-auto" src={profilePic}></img>
		<h1 class="flex items-center leading-none console mt-6 justify-center ">
			<span class="font-mono x-text-gradient text-4xl text-gray-700">
				<span>$ </span>
				<TypedText client:load
					text="Mack Talcott"
				/>
			</span>
		</h1>
		<p class="text-xl mt-6 font-thin text-center">
			I'm a software engineering leader located in Seattle, WA. I currently work at <a href="#">Remitly</a> building stuff.
		</p>
		<p class="mt-10 text-gray-700 flex items-center justify-center">
			<a href="#">LinkedIn</a>
			<a href="#">Github</a>
		</p>
		{/*<h1>Welcome to <span class="text-gradient">Mack's personal website</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>*/} 
	</main>
</Layout>

<style>
	{/*main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}*/}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	{/*.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}*/}
	.prompt {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
