---
export interface Props {
    
}
---
<div class="tilt">
    <slot />
</div>

<script>
    import { gsap } from "gsap";

    var TiltAnimation = function() {
        var
            mouseX,
            mouseY,
            element;

        var _init = function(args) {
            mouseX    = 0;
            mouseY    = 0;
            element   = args.element;
            _addEventHandlers();    
        }
        
        var _addEventHandlers = function() {
            window.addEventListener('mousemove', _getMousePos, false);
            if (window.DeviceMotionEvent != undefined) {
                window.addEventListener('devicemotion', _accelerometerUpdate, false);
            }
        }
        
        var _accelerometerUpdate = function(event: Event) {
            var aX = event.accelerationIncludingGravity.x*1;
            var aY = event.accelerationIncludingGravity.y*1;
            var aZ = event.accelerationIncludingGravity.z*1;

            var xPosition = Math.atan2(aY, aZ) * 40;
            var yPosition = Math.atan2(aX, aZ) * 40;
            
            xPosition = Math.round(xPosition * 1000) / 1000;
            yPosition = Math.round(yPosition * 1000) / 1000;
            
            _animate(yPosition, xPosition);
        }
        
        var _getMousePos = function(event: Event) {
            event = event || window.event;
            
            mouseX = event.pageX;
            mouseY = event.pageY;
            
            var xPos = (mouseX / window.innerWidth) - 0.5;
            var yPos = (mouseY / window.innerHeight) - 0.5;
            var rotationYValue = 10 * xPos;
            var rotationXValue = 10 * yPos;
            
            _animate(rotationYValue, rotationXValue);
        }
        
        var _animate = function(rotationYValue: number, rotationXValue: number) {
            gsap.to(element, {
                rotationY: rotationYValue,
                rotationX: rotationXValue,
                transformPerspective: 900,
                transformOrigin: "center"
            });
        }
        
        return {
            init: _init
        }
        }();

    TiltAnimation.init({element: document.getElementsByClassName('tilt')[0]});
</script>
